
section:hover, section:active {
    /* Pour tester la réactivité du navigateur */
    border-left-color: red;
    background-color: rgb(231, 231, 231);
}

.robot {
    font-weight: bold;
    font-family: monospace;
    background: rgb(218, 218, 235);
    padding: 3px;
    border-radius: 2px;
}
#status {
    font-size: 1.3em;
    font-family: monospace;
    padding: 3px 8px;
    border: 2px dashed gray;
    background-color: white;
}

div.input {
    margin: 3px 0;
    padding: 3px;
}
div.input label {
    font-size: 0.8em;
    font-weight: 600;
}

body {
    background: rgb(240, 240, 240);
    font-family: sans-serif;
}

main {
    padding: 20px;
    margin: 10px auto;
    max-width: 950px;
    background: white;
}
section {
    padding: 5px 20px;
    margin: 20px auto;
    border-left: 5px solid orange;
    background-color: rgb(247, 247, 247);
}
h1, h2, h3, h4, h5, h6, ul {
    margin: 0.4em 0;
}
h1 {
    color: rgb(1, 61, 61);
}
h2 {
    color: rgb(13, 85, 85);
}
h3 {
    color: rgb(57, 99, 99);
}

h1.stick-bottom, h2.stick-bottom, h3.stick-bottom {
    margin: 0.8em 0 0.1em;
}
li {
    list-style-type: square;
    margin-top: 0.3em;
}


